.strapi-quote-component{
    @include component_space;
    display: block;
    text-align: center;

    h5{
        color: $white;
        margin-bottom: 15px;
    }
    p{
        color: $white;  
    }
    
   
}