
//**** COLOR ****//

$black : #000000;
$white : #FFFFFF;
$red: red;
$light-gray-light:#f4f4f4;
$dark-black:#131318;
$light-gray:#818181;
$dark-gray1:#232630;
$tag-color : #E97777;
$tag-bg-color : #f5d4c4;
$dark-blue : #232630;
$fill-btn-2 : #E5936B;
$footer-bg:#124547;
$btn-hover:#B75F5F;
$gh-bgopacity: rgba(233, 119, 119, 0.4);

$addxp-gray-light:#969696;

 